@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
    font-family: "Outfit", sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    padding: 0;
}

.main {

    margin: auto;
    padding: 20px;
    align-items: center;
    width: 20vw;
    background-color: white;
    border-radius: 15px;
    margin-top: 100px;
}

.hero {
    border-radius: 20px;
    width: 100%;
}

h1 {
    font-size: 700;
    text-align: center;
}

p {
    color: rgb(104, 104, 104);
    padding: 10px 5px;
    font-size: 400;
    text-align: center;
}

@media only screen and (max-width: 1600px) {
    .main {
        width: 35vw;
    }
}

@media only screen and (max-width: 600px) {
    .main {
        width: 80vw;
    }
}